

@font-face {
    font-family: Mont;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mont-Regular.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/Mont-Regular-Italic.otf") format("opentype");
    font-display: fallback;
}


@font-face {
    font-family: 'Mont-Black';
    font-style: normal;
    src: url("../fonts/Mont-Black.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Mont-Bold.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Mont-Bold-Italic.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Mont-SemiBold.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Mont-SemiBold-Italic.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-style: normal;
    
    font-weight: 1000;
    src: url("../fonts/Mont-Heavy.otf") format("opentype");
    font-display: fallback;
}

@font-face {
    font-family: Mont;
    font-style: italic;
    src: url("../fonts/Mont-Heavy-Italic.otf") format("opentype");
    font-display: fallback;
}